[2018-01-29 20:06] joacorob opened #3 "List of attributes"
Its possible to get the value of an attribute list?

![image](https://user-images.githubusercontent.com/7756993/35531759-b7fbcb8a-0516-11e8-9386-eb7928d8533d.png)

Thanks

[2018-01-30 12:14] dilowagner commented on #3
Hi @joacorob
 Yes, I believe it is possible!
Where are you trying to recover it? Maybe some mapping is missing

[2018-02-05 00:34] #3 closed, assigned to dilowagner

[2018-02-13 19:02] joacorob opened #4 "Example of: refresh token"
Hi! Could you give me some example about the best way to refresh token? thanks!

[2018-02-13 22:23] dilowagner commented on #4
Hi @joacorob !
This is updated automatically. The library stores the access_token and refresh_token in the AccessToken object, when the request is called, it checks if the access_token is expired. If the access_token has been expired, it will be is updated with refresh_token.

Do you have any problem with this?

[2018-02-13 23:27] joacorob commented on #4
![image](https://user-images.githubusercontent.com/7756993/36179714-29bd9802-10fc-11e8-810d-77a4321191c8.png)

Yes, but probably is because im in a local enviroment, so when y turn off my server the storage are missing? is probably?

[2018-02-14 01:20] dilowagner commented on #4
Yes, probably...

Are you using http://localhost?

When I was testing, I also had these problems. I had that to configure a https:// address valid for my server for test this.

When you create your App on Mercado Livre, you need to add a URL for callback. The field is called "Redirect URI" and a valid https:// address must be given. It is to this address that CODE will be sent that the lib will re

[2018-02-14 13:20] joacorob commented on #4
Perfect, i didnt config https in local, so i will test other enviroment. Thanks!

[2018-02-14 15:41] #4 closed, assigned to dilowagner

[2018-09-29 16:43] helquisson opened #8 "Publicar anúncio via crontab"
Issue referente ao pull request (question):
https://github.com/discovery-tecnologia/dsc-mercado-livre/pull/7

Continuando...

Então, nesse caso vou mudar um pouco o escopo do projeto, vou tentar usar APPs diferentes.
Quando finalizar, passo um feedback pra vcs.

Valew @dilowagner

[2018-09-30 18:38] dilowagner commented on #8
Show @helquisson

Qualquer coisa poste aqui!

Abraco!

[2018-10-02 16:54] luzgustavo opened #9 "Atributos e Variações"
Diego, seria interessante permitir o cadastro de atributos e variações com estoque, SKU, etc.
Foi a única coisa que senti falta, pois o restante está perfeito.

[2018-10-02 22:24] dilowagner commented on #9
Legal @luzgustavo!

Vou verificar para implementar na próxima versão...

Abraço!

[2018-10-12 16:35] dilowagner commented on #9
Ola @luzgustavo

Publiquei a versao [1.5.1](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.5.1) com a [pull request](https://github.com/discovery-tecnologia/dsc-mercado-livre/pull/12) que contempla as funcionalidades com relação ao gerenciamento de Variações nos Anuncios.

Mais uma vez obrigado por contribuir!

Abraço cara, valeu!

[2018-10-18 01:47] #9 closed, assigned to dilowagner

[2018-10-19 17:24] luzgustavo commented on #9
Diego, vi a atualização, mas me diga como proceder para variações
combinadas, COR/TAMANHO por exemplo.
Como é configurado o *attributeCombination* se eu já sei os atributos e
valores que devo enviar?
Grato

Em qua, 17 de out de 2018 às 22:47, Diego Wagner <notifications@github.com>
escreveu:

--
Abraços

Gustavo da Luz
http://www.gustavodaluz.com.br
falecom@gustavodaluz.com.br (E-mail)
msn@gustavo

[2018-10-20 00:57] dilowagner commented on #9
Opa @luzgustavo , entao...

Isso vai depender muito da categoria que vc escolhe para o seu Produto... vou usar essa como exemplo:
https://api.mercadolibre.com/categories/MLB46595/attributes#json

O AttributeCombination e um array de Objetos que sao enviados
A estrutura que precisamos enviar no **attribute_combinations** seria essa...

[code]
Ok, voce precisa montar uma logica ou uma tela para o se

[2018-10-20 01:27] luzgustavo commented on #9
Beleza, era só pra saber como passar os atributos, se é o Json no mesmo
padrão eu sei o caminho, achei que era atraves de alguma função interna.

Valeu pela atenção meu velho.
Abraço

Em Sex, 19 de out de 2018 21:57, Diego Wagner <notifications@github.com>
escreveu:

[2018-10-24 05:39] luishscosta opened #13 "Erro ao atualizar token"
Estou tentando utilizar o método para capturar as informações dos usuários com um token já expirado, porém estou recebendo erro na resposta:

![image](https://user-images.githubusercontent.com/7052981/47408547-3b6cec00-d736-11e8-85eb-e9308d3c6305.png)

Está sendo retornado um conteúdo em HTML ao invés do JSON. Fiz a atualização do token via Postman utilizando os mesmos dados e tudo ocorreu com suc

[2018-10-24 13:12] dilowagner commented on #13
Opa,
Valeu @luishscosta, vou verificar o que está acontecendo....

[2018-10-25 02:35] luishscosta commented on #13
@dilowagner Mandei um PR que corrige essa issue https://github.com/discovery-tecnologia/dsc-mercado-livre/pull/14

[2018-10-25 02:57] dilowagner commented on #13
Show de bola @luishscosta , valeu!

Obrigado pela contribuicao!
Vou aproveitar e fixar a versao do Guzzle tambem...

Vou gerar uma nova versao!

[2018-10-25 03:07] dilowagner commented on #13
Fix
Versao [1.5.3](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.5.3) lancada!

[2018-10-25 03:13] #13 closed, assigned to dilowagner

[2018-10-29 19:46] helquisson commented on #8
Eae @dilowagner , blz cara?

Tudo rodando lindão! Só uma coisa que to sentindo falta, ou não percebi como que faz! É a adição de atributos em produtos simples, sem variação, tipo isso:

$attribute = new Attribute();
$attribute->setName('name');
$attribute->setValueId(10);
$attribute->setValueName('test');

$item->addAttribute($attribute);
...

Ou já tem algo implementado?

Att,

[2018-10-30 00:39] dilowagner commented on #8
Opa @helquisson
faltou esse mapeamento mesmo... vou verificar...

[2018-10-30 02:04] dilowagner commented on #8
Ola @helquisson
Publiquei uma nova [release 1.6.0](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.6.0) com esse mapeamento

[2018-11-01 23:21] helquisson commented on #8
@dilowagner, perfeito cara, show de bola!

[2018-11-01 23:21] #8 closed, assigned to dilowagner

[2018-11-07 06:36] luzgustavo commented on #9
Fala Diego, cá estou eu te atormentando novamente.
Enfim, resumindo, tentei usar a opção de autorização de sua biblioteca e
rodar minha aplicação depois de realizada esta validação com APP_ID e KEY,
porém estou recebendo um erro, veja se pode me dizer o que é:

*<b>Fatal error</b>:  Uncaught TypeError: Return value of
Doctrine\Common\Annotations\AnnotationRegistry::registerLoader() must be an
inst

[2018-11-07 11:28] dilowagner commented on #9
Opa @luzgustavo , blz?
Cara, qual a versão do PHP que você está usando? Me parece que alguma dependência está sendo atualizada acima da versão 7... já tive problemas com isso em outros projetos... vou verificar se é isso mesmo...

[2018-11-07 12:48] luzgustavo commented on #9
Então, o server do meu cliente é 7.0 e vi que no composer tem exigências de
versão 7.1 pra cima, deve ser isso.
Pedi para atualizarem, te dou feedback em seguida, até para você atualizar
as exigências da biblioteca.

Em qua, 7 de nov de 2018 às 09:28, Diego Wagner <notifications@github.com>
escreveu:

--
Abraços

Gustavo da Luz
http://www.gustavodaluz.com.br
falecom@gustavodaluz.com.br (E-mail)
ms

[2018-11-07 23:18] helquisson opened #16 "Recurso das Perguntas e Respostas da API"
@dilowagner , blz cara?

Vai ter recurso para manipulação das perguntas?

Abs

[2018-11-08 01:19] dilowagner commented on #16
Opa, sim... já está no meu to-do aqui!

[2018-11-08 02:01] dilowagner commented on #9
Ola @luzgustavo !
Publiquei uma nova versao ([1.6.1](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.6.1)) que corrige as dependencias do Doctrine... o doctrine-instantiator estava sendo baixado com funcionalidades do PHP > 7.1
Eu subi um container docker e testei com a versao 5.6 do PHP e realmente estava quebrando...

[2018-11-08 02:05] dilowagner commented on #9
Ha outra coisa @luzgustavo!
Se voce encontrar algum outro problema (ou se ainda estiver com o mesmo problema)... sugiro abrir outra Issue, pra nao poluir essa aqui...
quem tiver o mesmo problema ira se confundir pra encontrar depois! Ja que o titulo dessa e **Atributos e Variações**

Obrigado por contribuir!
Valeu abraco!

[2018-11-09 20:08] helquisson commented on #16
Show! vou acompanhando então!

[2018-11-11 16:09] helquisson opened #18 "Descrição do item"
@dilowagner, ao enviar um item, a descrição do anúncio não vai para o Mercado Livre, no warning, menciona que está deprecated e pede pra usar plain_text:

                        (
                            [cause_id] => 310
                            [code] => item.description.text.not_allowed
                            [message] => The text property is deprecated. And will soon be rejected.

[2018-11-12 23:24] dilowagner commented on #18
Ola @helquisson

Mais uma vez obrigado por contribuir...
Pelo que vi o Mercado Livre deve ter atualizado esse campo, pois antes eu enviava normalmente como 'text' - tive que adaptar pra nao quebrar pra quem usava da forma antiga...

Ajustei isso no [pull request](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.6.2)

Valeuuus!

[2018-11-12 23:26] dilowagner commented on #18
Nao mudou nada...

$item = new Item();
$item->setDescription('Descricao aqui...');

[2018-11-13 22:39] helquisson commented on #18
Valew cara, abraços!

[2018-11-13 22:39] #18 closed, assigned to dilowagner

[2018-11-14 12:35] dilowagner commented on #16
Vou reabrir esta Issue pra estar ciente dessa necessidade!
Valeu!

[2018-11-27 00:29] luishscosta opened #20 "Description Vazio"
Quando tento trazer o objeto do produto a descrição está vindo incompleta, há alguma maneira de trazer a descrição na mesma request?

[code]

![image](https://user-images.githubusercontent.com/7052981/49050358-261e2e00-f1ca-11e8-9b16-3e088ca6418d.png)

Para contornar esse caso estou fazendo a request separada:

[code]

[2018-11-27 00:55] luishscosta opened #21 "Incompatibilidade com Laravel 5.7"
Com o travamento no commit https://github.com/discovery-tecnologia/dsc-mercado-livre/commit/5e60012fc156c96640dce2ed8ec58a00d43f0d8d onde fixou as versões dos pocotes, o Laravel 5.7 deixou de atualizar o dsc-mercado-livre por conta de conflitos.

Para contornar a situação, tive que adicionar para funcionar com versões maiores pois ele usa pacotes mais atualizados:

[code]

[2018-11-27 12:26] dilowagner commented on #20
Olá @luishscosta
Tenho que verificar, se não me engano, essas descrições não são retornadas diretamente no GET do Produto mesmo...
Eu deveria ter removido o getDescriptions do mapeamento de Item.

Mas vou confirmar isso...
Obrigado por contribuir...

[2018-11-28 01:34] dilowagner commented on #21
Realizei o merge do pull-request #22

Valeu @luishscosta

[2018-11-28 01:34] #21 closed, assigned to dilowagner

[2018-12-01 01:03] luishscosta commented on #20
@dilowagner Realmente, somente traz esse código que já está correto.

https://developers.mercadolivre.com.br/pt_br/publicacao-de-produtos

[2018-12-01 01:03] #20 closed, assigned to dilowagner

[2018-12-01 20:47] luishscosta opened #24 "Adicionar mais de uma imagem"
Ao tentar adicionar mais de uma imagem no produto, **não sei se é a maneira correta que estou utilizando**, o Array retornado está duplicando sempre para o ultimo adicionado.

[code]

O resultado final do `$item->pictures->elemets` deveria ser:

[code]

Porém está vindo tudo igual:

[code]

#### O que já debuguei:

No Doctrine o `$element` é passado para o método ADD de maneira correta;'

[2018-12-02 18:57] dilowagner commented on #24
Ola @luishscosta

Tenta dessa forma:

[code]

Voce deve instanciar o Picture dentro do foreach

[2018-12-03 01:08] luishscosta commented on #24
Show de bola @dilowagner Funcionou perfeitamente!

Obrigado!!

[2018-12-03 01:08] #24 closed, assigned to nobody

[2018-12-19 13:01] Winsten opened #25 "Como acessar um item da função findCategory()"
Olá!!
Bem é o seguinte, não sei se é ignorância minha, mas não consigo acessar os subelementos da função findCategory(), já tentei de tudo e sem sucesso.
A unica forma que encontrei foi mudando os atributos de private para public no src/Requests/Category/Category.php
Mudando isso consigo ter o acesso e assim ver o nome e o id da categoria para poder colocar no cadastro do produto.
No mais muito ob

[2018-12-19 16:34] dilowagner commented on #25
Olá @Winsten,

Bom, os atributos da classe Category são privados mesmo... devido o encapsulamento... pra acessar os atributos você deve acessar por get e se quiser setar valores com o set... exemplo:

- Consulta de categorias
[code]

Abraço!

[2018-12-19 18:49] Winsten commented on #25
Valeu!!! ontem tinha tentado de tudo quanto é jeito e sem sucesso, acho q o calor me deixou doido kkk, você me ajudou, apesar de aqui eu ter implementado mais coisas para poder fazer a categorização do produto. no mais segue para ajudar outros colegas.

      $cod_category = 'MLB46585';
      $ml_service = new CategoryService();
      $category = $mlservice->findCategory($cod_category);

      $ch

[2018-12-19 18:49] #25 closed, assigned to dilowagner

[2018-12-21 00:46] dilowagner commented on #25
Showww @Winsten
Que bom que conseguiu resolver! 👍

Abraço!

[2018-12-21 20:24] Winsten opened #26 "Mudar exposição alta para máxima e frete mercado envios"
Boa tarde Devs!!

Uma pergunta como faço para selecionar o mercado envios? com e sem frete grátis?

Verifiquei aqui e não consegui encontrar a resposta, sei que é bem parecido com as pictures, attributes, e variations no caso como se fosse um array.

na documentação do ML está assim
curl -X POST -H "Content-Type: application/json" -d '{
    "title": "Item de teste",
    "category_id": "MLA91727",

[2018-12-22 16:49] dilowagner commented on #26
Ola @Winsten
Essa implementacao nao esta mapeada ainda... estou finalizando "Perguntas e Respostas" e em seguida realizarei esse mapeamento...

Abraco!

[2018-12-31 14:57] Winsten commented on #26
Opa boa tarde, acabou que tive que fazer outras coisas e não respondi antes.
Eu fiz o mapeamento aqui, até que bem fácil, e gostaria de disponibilizar para todos, fiz uma nova classe e adicionei aos produtos e também atualizei o README.md.
Gostaria de saber como subo isso para o projeto, nunca contribui com projetos, só utilizo o git para projetos pessoais, bitbucket e automação de deploys.
No mai

[2019-01-02 11:38] dilowagner commented on #26
Opa, que legal @Winsten

Bom, você provavelmente fez um Fork do Projeto correto?
- Você precisa dar um commit no branch master
- Você precisa criar um Pull Request (referenciando o seu commit)
- Com isso, vou receber uma notificação para realizar o revisão aqui....

Te aconselho criar testes unitários pra feature também!

Nesse link tem um pequeno manual de sugestões de contribuição:
https://githu

[2019-02-19 21:04] r7alves opened #27 "Como adicionar atributos referentes a endereço?"
No contexto que estou desenvolvendo, o anuncio é da categoria de imoveis, sendo assim tem atributos obrigatorios que nao constam na classe Item, neste caso os atributos referentes a endereço. Segue meu trecho de codigo o erro retornado:
[code]

callback
`Some errors occurred: {"message":"Validation error","error":"validation_error","status":400,"cause":[{"department":"items","cause_id":187,"type":

[2019-02-20 02:18] dilowagner commented on #27
Ola @r7alves
Realmente esta esse mapeamento esta incompleto, hoje tenho a classe SellerAddres mas nao esta mapeada com o Anuncio

Vou providenciar

Valeu

[2019-02-24 23:27] dilowagner commented on #27
Ola @r7alves

Publiquei a [versao 1.7.2](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.7.2) que possui os mapeamentos para que vc consiga enviar o **Location** nos anuncios de Imoveis ou Veiculos, segue um exemplo abaixo de como vc pode realizar isso:

[code]
Como voce pode perceber... eu coloquei valores "fixos" para Pais, Estado e Cidade, mas seria interessante vc cria

[2019-03-08 22:49] #27 closed, assigned to dilowagner

[2019-03-19 14:32] laragallassi opened #29 "Dados do usuário"
Sou novata com programação, tenho que juntar a api do mercado livre com o meu projeto em laravel. Achar seu código me deixou aliviada, mas não estou conseguindo utilizar direito, falha minha. No meu index do controller  `MercadoLivreController` eu coloquei o código
`        $meli = new Meli('meuid', 'minhakey');

        $service = new UserService($meli);

        // Consulta dados do usuário

[2019-03-19 14:40] dilowagner commented on #29
Oi @laragallassi tudo bem!?
Entao, nesse caso eh porque vc esta usando um foreach em algo que nao eh uma Collection (array). Ao meu ver vc nao precisa usar o foreach nesse caso....

essa consulta traz apenas um objeto User

Tenta assim:

[code]

[code]
Valeu, abraco

[2019-03-19 14:44] laragallassi commented on #29
Tentei, no dd saiu perfeitamente como no outro, quando tiro o dd ele da erro

[2019-03-19 14:46] dilowagner commented on #29
Ha desculpa,
Realmente... os atributos do Objeto sao privados a classe...
Voce precisa acessa-los com get/set

[code]

[2019-03-19 14:48] laragallassi commented on #29
Muito, MUITO, obrigada @dilowagner  deu certo, e me desculpe o incomodo!

[2019-03-19 14:53] dilowagner commented on #29
Que legal!

Que isso... estamos aqui pra se ajudar...
Bons estudos!

[2019-03-19 15:03] #29 closed, assigned to dilowagner

[2019-06-10 01:28] #26 closed, assigned to dilowagner

[2019-07-31 11:33] Thav0 opened #30 "Multiplas contas Access Token"
Bom dia!

Agradeço desde já pela vossa contribuição para com a comunidade.
Minha intenção para com o vosso pacote será utilizar multiplas contas através da API e aceder individualmente aos dados de cada conta
Como não vi nenhum exemplo relacionado a essa função, venho vos perguntar qual o meio de o fazer
Exemplo, o cliente autoriza-me a utilizar informações da conta dele, vendas, clientes, ... e p

[2019-07-31 23:39] dilowagner commented on #30
Ola @Thav0 tudo bem!?

Então, não sei se entendi muito bem a sua duvida... mas é possivel sim. Inclusive eu utilizo em um projeto pessoal, onde cada cliente configura o seu Token e realiza a integração de Produtos de forma individual.
Basicamente, voce precisa fazer com o seu cliente configure o APP-ID e o SECRET-ID no seu sistema e depois instanciar a $meli com essas configs

[code]

Sobre renova

[2019-08-01 12:39] Thav0 commented on #30
Obrigado pela resposta.
Contudo irei detalhar mais minha dúvida;
A API cria-se apenas uma unica vez e sempre que algum cliente quiser autorizar o uso das suas informações para essa API irá fornecer-nos o access token, isto é
**1 API** -> **Multiplas contas autorizadas**
Quero individualmente sem a necessidade de entrar na conta de cada cliente e criar API aceder as informações dos mesmos atraves d

[2019-08-02 01:01] dilowagner commented on #30
Bom, sinceramente desconheco essa funcionalidade... acredito que nao seja possivel (hoje não é possivel fazer isso pela Lib)
Cada cliente vai ter que criar a Aplicacao no Mercado Livre e depois informar o APP-ID e o SECRET-ID... para vc instanciar os dados de acordo com cada cliente

[2019-08-02 12:34] #30 closed, assigned to dilowagner

[2019-08-02 12:36] Thav0 opened #31 "Informações da conta autorizada"
Bom dia!

Como obtenho os dados do cliente que autorizou a API?
Quero que após o cliente autorizar e ser direcionado para o URl eu consiga obter a informação daquele cliente em especifico ao invés de utilizar esta class :
Desc\Mercadolivre\Reresources\Users\UserService
getInformationAuthenticatedUser()

Outra questão, as informações não vêm em array, como faço para transformar o resultado?

Cumpri

[2019-08-02 17:33] Thav0 opened #32 "Invalid datetime findOrdersBySeller"
Boa tarde

Tentei utilizar a vossa função findOrdersBySeller()
Ao apresentar o conteudo, surgiu-me a seguinte mensagem de erro:

Invalid datetime "2019-08-02T08:23:21.391Z", expected format Y-m-d\TH:i:s.973Z.

[2019-08-02 23:46] dilowagner commented on #31
Pra recuperar os dados do usuario logado vc precisa utilizar esse metodo mesmo...
**Lembrando**: Voce precisa autenticar/autorizar o usuario no Mercado Livre antes

[code]

Outro detalhe e que esta Lib foi desenvolvida utilizando os conceitos de Orientacao a Objetos, portando ela sempre vai retornar Objetos...
Mas se vc quiser converter pra Array, vc poderia utilizar da seguinte forma

[code]
Esta

[2019-08-02 23:47] dilowagner commented on #32
Este problema ocorre quando vc vai exibir a data no seu sistema?

Rodando o teste aqui ele apresentou a data corretamente...
[code]

[2019-08-03 18:35] Thav0 commented on #31
Boa tarde Wagner
Obrigado pela resposta e pela atenção
Esse metodo **getInformationAuthenticatedUser()** retorna apenas um usuário,
por mais que eu dê autorização noutras contas obtenho apenas o usuário da API criada
Eu preciso obter os dados de cada conta que me der autorização da API

Cumprimentos

[2019-08-03 18:36] Thav0 commented on #32
Eu apenas utilizei o metodo e retornou-me o erro acima
$orders = findOrdersBySeller();
E apresentou-me o erro acima

[2019-08-03 19:07] dilowagner commented on #32
Ok @Thav0
Voce conseguiria colocar aqui o JSON que e retornado pela API do Mercado Livre...
Nao precisa colocar todos os dados, so os campos de data... preferencialmente..

Pra que eu posso ver o que pode estar acontencedo...
Valeu!

[2019-08-03 19:08] dilowagner commented on #31
Entao,
Acho que nesse caso vc esta tendo um problema de Design...
Voce nao vai conseguir pegar a informacao de outras contas... apenas uma a uma...

A API do Mercado Livre eh assim... so se vc fizer um controle do seu lado...

[2019-08-03 19:13] Thav0 commented on #31
Eu fiz um teste com este pacote https://github.com/docta/mercadolibre
O que acontece aqui é o seguinte, o cliente autoriza, recebo o codigo de autorização, gero o acess token e através dele especificamente obtenho a informação da conta autorizada, podendo utilizando qualquer access token posteriormente para requisições autorizadas

Contudo o teu pacote é bem mais completo, tem o refresh token auto

[2019-08-03 19:31] dilowagner commented on #31
Qual PATH vc utilizou?

Usando a lib do Docta, foi essa?
[code]
Talvez a API do Mercado Livre mudou... e isso nao esta implementado aqui ainda

[2019-08-03 19:35] Thav0 commented on #31
Essa mesmo, passo o token que foi gerado no url e consigo obter as informações espefificas da conta autorizada

[2019-08-03 19:57] dilowagner commented on #31
Bom,
Nesse pacote voce nao precisa passar o Token na URL, ele ja faz isso internamente...

Faz esse teste...
**_Primeiro_**: na sua conta criada, habilite a opcao **Scope offline access**. Para nao precisar fazer todo o fluxo de Autorizacao OAuth... essa config e utilizada quando vc precisa rodar um script background (por exemplo em uma crontab)

E crie um arquivo teste.php e adicione:

[code]
Ve

[2019-08-05 11:41] #31 closed, assigned to dilowagner

[2019-08-05 11:41] #32 closed, assigned to dilowagner

[2019-09-04 18:29] frankdors commented on #32
Estou com o mesmo prolema

Este é o retorno chamando direto
https://api.mercadolibre.com/orders/search?seller=&sort=date_desc&access_token=
`{
    "query": "",
    "results": [
        {
            "id": 2135137628,
            "comments": null,
            "status": "paid",
            "status_detail": {
                "code": "item_price_restriction",
                "description": null

[2019-09-05 00:18] dilowagner commented on #32
Obrigado pelo envio dos dados @frankdors
Encontrei o problema no mapeamento...

Publiquei uma nova versao  [1.7.3](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.7.3)

Valeu!

[2019-10-11 17:38] timoteo7 opened #33 "$offset > 52, devolve erro : 'Array to string conversion'"
[code]
Devolve o seguinte erro:

se coloco o `$offset = 52 ;`
dai funciona normal,
são 350 vendas que gostaria de consular, então preciso que o offset possa ser maior que isso, já que o $limit máximo é 50...

poderia me direcionar para que eu consiga consultar todos as vendas ??
(estou usando o Laravel como framework)

[2019-10-12 01:56] dilowagner commented on #33
Ola @timoteo7
Estranho... vc tem um total de 350 registros eh isso? e quando coloca 52 funciona???
Esse eh um recurso de paginacao similar ao banco de dados...

Entao no seu cenario o correto seria...
offset = 0, limit = 50 (50 registros)
offset = 1, limit = 50 (+50 registros)
offset = 2, limit = 50 (+50 registros)
offset = 3, limit = 50 (+50 registros)
offset = 4, limit = 50 (+50 registros)
offse

[2019-10-12 15:43] timoteo7 commented on #33
ok, obrigado, como o `offset=52` havia funcionado pensei que seria o numero de registros a pular não o de paginação, desculpe pelo engano..

[2019-10-13 14:27] dilowagner commented on #33
Show @timoteo7
Que bom que funcionou!

[2019-10-14 18:44] timoteo7 commented on #33
Na verdade testei o que disse que cada offset seria +50 registros (com o limit como 50),
mas não está sendo, está sendo por registro mesmo,
tenho que colocar offset=50 para conseguir ver os próximos 50 registros,
mas como teve mais venda agora (Total 361) o erro só repete quando o offset > 63

[2019-10-14 18:52] timoteo7 commented on #33
@dilowagner

se coloco
`$sort = 'date_asc';`
mesmo com o offset = 0;
também já devolve o mesmo erro

[2019-10-14 19:18] dilowagner commented on #33
Opa @timoteo7
Tenho que ver se mudou algo na API então...

[2019-10-14 22:38] dilowagner commented on #33
@timoteo7 com relacao ao offset, deixo ver se entendi entao...
No seu caso sao 361 registros correto?

Entao no seu cenario o correto nao seria isso?
$offset = 0, $limit = 50 (50 registros)
$offset = 50, $limit = 50 (+50 registros)
$offset = 100, $limit = 50 (+50 registros)
$offset = 150, $limit = 50 (+50 registros)
$offset = 200, $limit = 50 (+50 registros)
$offset = 250, $limit = 50 (+50 registr

[2019-10-18 16:25] timoteo7 commented on #33
não consigo colocar `$offset =100` ou `$offset = 150` como no teu exemplo,
mas o numero do $offset que dá erro vai mudando de acordo com a quantidade de vendas,
agora tem 377 vendas e o erro ocorre quando o `$offset=80`,

(na proporção parece que com 257 vendas no total daria erro mesmo com `$offset = 0` )

[2019-10-18 18:46] dilowagner commented on #33
@timoteo7
Você consegue debugar e colar aqui (oculta os dados sensíveis) o retorno do JSON antes dele fazer o parser?

Quero entender o que ele está retornando, ou se tem alguma mensagem de erro

[2019-10-18 19:59] dilowagner commented on #33
Eu não tenho dados na minha conta, não consigo simular o seu cenário...

[2019-10-19 17:37] timoteo7 commented on #33
[code]
pode utilizar estes dados mesmo, depois eu edito,
o erro é o mesmo de quando tentei colocar ordenação acendente (que não existe)
talvez esteja retornando só um '[ ]' vazio ,
talvez só colocar para verificar se não é um array,
antes de onde está dando erro (parser):

[2019-10-19 23:38] dilowagner commented on #33
Opa, @timoteo7
Obrigado por enviar os dados...

Cara, fiz os testes com os seus dados aqui e nao tive problemas...
Segue como testei...

[code]
Fui incrementando o offset conforme te falei anteriormente (a cada 50), 0, 50, 100, 150, etc...

[code]
Mesmo testando com um offset "quebrado" $offset = 80 ele retorna corretamente...

Uma coisa que esqueci de te perguntar eh... qual versao do PHP voce es

[2019-10-19 23:59] timoteo7 commented on #33
usou a mesma maneira que eu:
`$orders = $service->findOrdersBySeller(256626064,$limit,$offset,$sort);` ??

Minha versão é:

que estranho, então realmente não deve ser um bug do repositório mesmo, vai que é minha versão...

[2019-10-20 01:28] dilowagner commented on #33
Sim, usei o mesmo metodo...

Pode ser a versao do PHP, nao cheguei a testar com a versao 7.3...
Vou tentar testar aqui pra ver...

[2019-10-22 01:42] dilowagner commented on #33
@timoteo7

Realizei o teste com o PHP7.3 e funcionou sem problemas :( tive o mesmo resultado anterior...

[code]
Na sua aplicacao vc tambem usa o JMS Serialize pra alguma coisa? Qual versao do Laravel esta usando?

[2019-10-22 12:30] timoteo7 commented on #33
Pode ser algo do Laravel então,
eu fiz o teste com o Laravel 5.8 e o 6.0 e para mim o erro se repete,
(eu não estou usando o JMS Serialize)

mas como para você o erro não aparece não tem como visualizar o que acontece...
conseguiria fazer este mesmo teste que fiz em um Controller do Laravel ?

[2019-10-22 12:36] timoteo7 commented on #33
[code]

[code]

[2019-10-23 00:09] dilowagner commented on #33
Poise, acho bem estranho...
Vou tentar fazer um teste com Laravel, esta semana devo iniciar um projeto com ele...
Cara, nao deve ser isso... mas vc tentou passar o $limit como Integer ao inves de String?

[2019-10-23 01:06] timoteo7 commented on #33
Já tentei isso sim, passei tudo como string ou tudo como intenger, não fez diferença...

agora com 406 vendas da erro com o `$offset = 5`

[2019-10-30 01:40] dilowagner commented on #33
@timoteo7
Criei o projeto com o Laravel e encontrei o problema...hahaha

Tinha um mapeamento errado no retorno do objeto de Feedback... estava retornando o Sale e Purchase como string...
Gerei uma [nova versao: 1.7.4](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.7.4)

O problema acontecia internamente quando o JMSSerialize fazia o parse
[code]
So que sinceramente nao en

[2019-10-30 11:55] timoteo7 commented on #33
muito obrigado por resolver isso com o Laravel, já testei e deu tudo certo...

[2019-10-30 13:10] dilowagner commented on #33
Show de bola @timoteo7
Vou fechar essa issue, qualquer coisa reabrimos outra...

Valeu...

[2019-10-30 13:10] #33 closed, assigned to dilowagner

[2019-11-26 10:39] ombrodrigo commented on #16
@dilowagner, tudo bem.
Poderia dar um exemplo de como adicionar os atributos de uma categoria no momento da publicação do produto. Encontrei apenas para variação.

[code]

[2019-11-26 14:25] dilowagner opened #35 "Inserir Atributos de Categoria"
@dilowagner, tudo bem.
Poderia dar um exemplo de como adicionar os atributos de uma categoria no momento da publicação do produto. Encontrei apenas para variação.

[code]

_Originally posted by @ombrodrigo in https://github.com/discovery-tecnologia/dsc-mercado-livre/issues/16#issuecomment-558569873_

[2019-11-26 14:26] dilowagner commented on #35
Opa @ombrodrigo
Abri outra Issue aqui...
Vou criar um exemplo...

[2019-11-26 14:34] dilowagner commented on #35
@ombrodrigo basicamente, vc precisa consultar antes os atributos da Categoria (com o ID da Categoria)

[code]

[2019-12-01 10:54] ombrodrigo commented on #35
Muito obrigado.

[2019-12-01 15:21] #35 closed, assigned to dilowagner

[2020-05-16 15:37] ombrodrigo opened #45 "Erro ao obter informação de um pagamento como vendedor"
Bom dia.
Não estou certo se o que está ocorrendo é um erro realmente ou um mal-entendido da minha parte em relação aos pagamentos, mais vamos lá.

Ao realizar a busa de um pagamento utilizando a classe `Dsc\MercadoLivre\Resources\Payment\PaymentService` método `findPayment($code)`, está ocorrendo o seguinte erro:
[code]

Analisando a execução do método `findPayment($code)`, percebi que o erro ocor

[2020-05-16 19:09] ombrodrigo commented on #45
Realizei um outro teste substituindo o recurso `/payments` para `/collections` conforme esse link da documentação ([Link documentação](https://developers.mercadolivre.com.br/pt_br/gerenciamento-de-vendas#Como-obter-informa%C3%A7%C3%A3o-do-pagamento-como-vendedor
)), e funcionou a busca das informações do pagamento.

Outro ponto, o recurso `/collections`, funciona com a URL `api.mercadolibre.com`,

[2020-05-17 14:45] dilowagner commented on #45
Hum, interessante... pelo que parece essa URL de /payments deve ter mudado para o Mercado Pago.
Mais uma vez obrigado pela ajuda @ombrodrigo

[2020-05-17 18:28] ombrodrigo commented on #45
Estou desenvolvendo a alteração. Logo vou abrir o PR.

[2020-05-25 02:17] ombrodrigo commented on #45
[](url)

[2020-05-25 02:17] #45 closed, assigned to dilowagner

[2020-07-15 17:34] pablosousa7 commented on #16
Poderia me dar um exemplo de como inserir várias imagens ? Estou tentando criar um array igual na documentação do MLB mas não está funcionando.

[2020-07-15 21:31] dilowagner commented on #16
Opa,
A lib trabalha com uma Collection
[code]

[2020-07-22 18:34] pablosousa7 commented on #16
Opa poderia dar mais uma força nos atributos?

eu fiz conforme o exemplo mas ele me retorna uma erro.

[code]

erro:
[code]

[2020-07-23 20:23] dilowagner opened #52 "Help nos atributos"
Opa poderia dar mais uma força nos atributos?

eu fiz conforme o exemplo mas ele me retorna uma erro.

[code]

erro:
[code]

_Originally posted by @SecDet65 in https://github.com/discovery-tecnologia/dsc-mercado-livre/issues/16#issuecomment-662616736_

[2020-07-23 20:30] dilowagner commented on #52
@SecDet65

Estou abrindo essa Issue para não popular a outra com outros assuntos.... hehe

o valor do $data['id'] está correto?

Consegue colocar aqui como vc está criando o Item (remove os dados sensíveis)

[2020-07-23 20:30] dilowagner commented on #16
@SecDet65
Abri outra Issue pra não popular essa com outros assuntos... #52

[2020-07-24 14:18] pablosousa7 commented on #52
blz :D,

eu consegui fazer dessa forma, não sei se e o jeito certo de fazer

[code]

Mas essa logica tem um problema, porque os atributos varia de acordo com a categoria. Estou tentando ver outra forma.

[2020-07-26 23:40] dilowagner commented on #52
Realmente... sinceramente nao sei o seu caso de uso...
Mas acredito que vc precisa ter uma forma de listar as categorias e buscar os seus respectivos atributos em seguida...

[2020-07-27 23:00] #52 closed, assigned to dilowagner

[2020-08-14 20:39] caonUlisses commented on #16
Creio que o título da issue (embora correto) esteja gerando confusão, visto que se refere a Perguntas (funcionalidade da plataforma Mercado Livre) não um lugar para fazer perguntas sobre a biblioteca em si. Alterar o título pode ser uma boa para evitar população.

[2020-09-13 15:27] diegodario88 opened #54 "Fluxo Authorize"
Olá, gostaria primeiro lhe agradecer pelo bom trabalho feito nessa lib, muito obrigado por disponibilizá-la;
Um comportamento estranho ocorreu comigo, após finalizado o fluxo  do `AuthorizationService->authorize()` as informações do `AccessToken` deveriam ficar gravadas em minha sessão, o que ocorreu em algumas situações iniciais; Porem não mais, para que isso ocorra eu tenho que chamar o  `Author

[2020-09-15 22:50] dilowagner commented on #54
Opa @diegodario88 obrigado pelo feedback meu caro... e desculpa pela demora na resposta, ta bem corrido hehe...
Cara, bem estranho...
Vc esta usando qual versao de PHP?

Por acaso , vc chegou a testar com a `CacheFilesystem` e viu se aconteceu o mesmo problema?
Ex:

[code]

[2020-09-16 01:16] diegodario88 commented on #54
Então eu tentei assim,
[code]
mas entrou em um loop infinito e levantou uma exceção
`CRITICAL ---> Maximum function nesting level of '512' reached, aborting!`
Ele ficou tentando aqui `CacheFilesystem->set('token', 'APP_USR-...')`

[2020-09-16 01:28] dilowagner commented on #54
@diegodario88
Nossa! tem um bug nessa classe....
Ela esta chamando o mesmo `$this->set()` vou corrigir isso....

Qual a versao de PHP vc esta usando?

[2020-09-16 12:54] diegodario88 commented on #54
Desculpa acabei não respondendo, versão 7.4

[2020-09-16 14:01] dilowagner commented on #54
humm, podemos ter um problema com relação a versão de PHP aí...
Preciso verificar como ele está tratando a Session nesse caso...

Essa lib está com suporte a PHP 5.6 ainda hehe, gostaria de atualizar ela em um futuro próximo :(

Mas só confirmando, vc disse que está usando as duas abordagens... é isso?
`AuthorizationService->authorize()`
`AuthorizationService->getAccessToken()`

Eu acredito que em

[2020-09-16 16:46] diegodario88 commented on #54
No caso se eu deixar acontecer o fluxo do AuthorizationService->authorize() ele não grava as informações na session. Ai uma manobra que  eu testei foi invocar o AuthorizationService->getAccessToken() para ter essas informações.

Uma coisa que verifiquei foi que o meu storage está com sessionId nulo mas o prefix está  "dsc.meli."

` $this->MELI->environment->*Dsc\MercadoLivre\Environment*configurat

[2020-09-17 01:30] dilowagner commented on #54
@diegodario88
Opa, agora que vi sua mensagem anterior hehe...
Resolveu entao??? kkk era uma chamada da funcao session() na sua aplicacao?

Mas mesmo assim, criei uma versao de correcao da CacheFilesystem
[Versao 1.14.1](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/1.14.1)

Valeuuuss

[2020-09-17 13:32] diegodario88 commented on #54
Exatamente, era um ` session()` lá no meio do nada hahaha.

[2020-09-17 22:43] dilowagner commented on #54
Há blzzz @diegodario88
Valeuus

[2020-09-17 22:43] #54 closed, assigned to dilowagner

[2020-09-21 12:29] rafa-acioly opened #56 "Versao do Guzzle"
Podemos colocar a versao do `Guzzle` para `^6.*`? assim nao teremos problema de compatibilidade para aplicacoes que usam `php7.x`.

No meu caso, estou usando o `php7.4` com a versao `^7.x` do guzzle (aplicacao laravel) e isso esta gerando o erro:

[code]

[2020-09-23 00:41] dilowagner commented on #56
Opa, @rafa-acioly sinceramente, tenho que avaliar se isso nao pode quebrar a compatibilidade com o pessoal que ainda usa o PHP5.6

[2020-09-23 02:14] rafa-acioly commented on #56
@dilowagner acho que seria melhor criar uma tag para dar suporte a versao `5.6` e mover o projeto para a versao `7` o que acha?
assim podemos deixar claro no `readme` que a versao `5.6` esta em uma tag especifica.

Aproveitando a thread para uma duvida:

'e possivel publicar/alterar os produtos de um seller especifico? hoje para isso acontecer a gente precisa fazer a chamada no `oauth` e pegar o `

[2020-09-23 14:43] diegodario88 commented on #35
Olá, sobre os attributes como eu deveria preenche-los no caso do erro abaixo?

[code]

Alguns atributos são obrigatórios para determinadas categorias, eu deveria buscá-los antes, correto? E com essa informação em mãos montar inputs dinamicamente para que seja preenchidos e na hora da criação do anúncio suprir com o que foi informado?

[2020-09-23 18:55] gabrielmoura commented on #56
Seria de grande utilidade para integração com laravel eu outros frameworks.

[2020-09-23 21:09] denirrobertotavares commented on #13
Dá uma força pra nós.... Não consigo evoluir na versão nova do ML do SDK PHP. Já tenho a aplicação criada, baixei o SDK do Git e executei o composer para instalação dos pacotes mas não consigo prosseguir. Preciso de uma tela de login, fazer a comunicação com o OAuth essas paradas. Tens algum exemplo?

[2020-09-23 21:22] rafa-acioly commented on #56
exatamente @gabrielmoura, a maioria dos frameworks e libs ja miram como requerimento minimo o php7, no meu caso 'e justamente o laravel.

[2020-09-23 23:49] dilowagner commented on #56
Opa, legal mesmo...
Acho que vou fechar a versao 1.* pra isso

E criar uma versao 2.0.0-rc para migracao do PHP 7+

@rafa-acioly consegue criar um Pull Request com essa mudanca do Composer?
E cara sobre a pergunta do `Seller` especifico, acho que isso nao foi criado ainda... terias um exemplo do JSON enviado?

[2020-09-24 14:55] rafa-acioly commented on #56
@dilowagner abri o PR #58

Com relacao ao JSON enviado, eu nao tenho nenhum dado enviado, so gostaria de saber como podemos fazer para pegar um token de um usuario especifico sem passar pelo `oauth` do navegador.

[2020-09-24 22:55] dilowagner commented on #56
Show de bola @rafa-acioly, obrigado pelo PR hehe

Há, e vc consegue com o método `$service->getAccessToken()` do `AuthorizationService()`
https://github.com/discovery-tecnologia/dsc-mercado-livre#exemplo-de-autentica%C3%A7%C3%A3o-server-side

Mas pra isso vc precisa habilitar na integração o **Scope offline access** lá no Painel do Mercado Livre

[2020-09-24 23:00] dilowagner commented on #56
@rafa-acioly
Esqueci de atualizar o README hehe
Mas a versão foi criada: [2.0.0-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.0.0-rc)

[2020-09-24 23:09] dilowagner commented on #35
Isso mesmo @diegodario88
Talvez, vc precise exibir as Categorias para o seu usuário...
E depois que ele selecionar determinada Categoria...
Vc exibiria outro Input Select para ele selecionar os Atributos de acordo com a Categoria selecionada

[2020-09-24 23:13] dilowagner commented on #13
Não tenho nenhum exemplo pronto... esses fluxos do OAuth são mais chatos de desenvolver e testar mesmo...
Mas cara, acho que o próprio mercado livre disponibiliza uns diagramas e fluxos de como funciona a aplicação de login.

[2020-09-25 15:26] diegodario88 commented on #35
Certo, por gentileza se você puder me ajudar,
Eu tenho um json com todas os attributes que contenham a tag required da categoria que foi selecionada.
Salvei eles com o Id e o value, mas alguns são listas, que como você comentou viraram select para que o usuário selecione,
então após feito a seleção eu salvei esses atributos como:
Os que eram lista:
[code]

Os que eram texto:
[code]
 Pois bem, minh

[2020-09-26 15:47] #56 closed, assigned to dilowagner

[2020-10-02 18:24] ismaeladriano opened #60 "Ao enviar um anuncio esta retornando 403"
Segui o padrão da DOC, estou utilizando a ultima versão, porém acredito que seja algo relacionado a conta do meu vendedor algo do gênero.

[code]
Erro:
[code]

[2020-10-02 21:32] diegodario88 commented on #35
@dilowagner  Estou um pouco confuso com relação ao attributes ainda, por exemplo os attributes que são do tipo string eu apenas seto o valueName dele e os que são do tipo Lista eu preciso setar o valueName e o valueId?

[2020-10-03 23:09] dilowagner commented on #60
E ai @ismaeladriano blz?
Cara, parece que sim... a API retornou Forbidden... me parece que os dados estao incompletos no cadastro

[2020-10-03 23:35] dilowagner commented on #35
Eh bem complexo essa parte de Atributos mesmo kkkkk
Pela DOC quando o `value_type` for `list`, vc pode enviar na chave `values`, que aqui na lib esta mapeado por uma Collection da classe AtributeValue

https://github.com/discovery-tecnologia/dsc-mercado-livre/blob/master/src/Requests/Category/Attribute.php#L67

Exemplo da DOC
[code]

https://developers.mercadolivre.com.br/pt_br/atributos

[2020-10-05 19:52] ismaeladriano commented on #60
@dilowagner sim, consegui por algum motivo era algo na conta. Muito obrigado

[2020-10-05 19:52] #60 closed, assigned to dilowagner

[2020-10-16 17:40] diegodario88 opened #61 "Link para autenticação"
Dês de ontem, dia 15/10/20, não consigo mais autenticar o meu aplicativo. Seria um problema apenas comigo?
Aparentemente a auth url do BR está offline -> `https://auth.mercadolivre.com.br`

Error:
[code]
Pelo que eu vi o auth URL da Argentina esta funcionando normal.

[2020-10-17 15:09] dilowagner commented on #61
Fala @diegodario88 blz...
Cara, parece que deve ter acontecido alguma indisponibilidade momentanea (ainda nao esta funcionando?)... nao encontrei nada que informa alguma mudanca na URL...
Inclusive esta sendo referenciado na SDK Oficial deles

https://github.com/mercadolibre/php-sdk#usage

[2020-10-17 17:00] diegodario88 commented on #61
Então @dilowagner ainda não esta funcionando, estranho né. Eu abri uma issue no repo do sdk talvez alguém saiba de alguma coisa lá...

EDIT: Testei com o url do argentina e realmente esse funciona mas como é outro site não consigo usar meu projeto.

EDIT: Por algum motivo obscuro voltou a funcionar mas apenas no firefox, no chrome continua aparecendo esse erro. Vou tentar limpar o cache e resetar

[2020-10-22 20:22] christopherpersaud opened #62 "Setar Shipping"
Fui fazer um teste de envio usando o exemplo que passou:
[code]

Porem da uma mensagem de erro dizendo que deve informar o Shipping, nao achei como inserir essa opcao na documentação, pode ajudar por favor

[2020-10-24 14:47] dilowagner commented on #62
Opa @christopherpersaud blz...

Pelo que vi ele nao e obrigatorio neh? Esta dando erro?
https://developers.mercadolivre.com.br/pt_br/publicacao-de-produtos#Shipping

Mas acho que voce pode criar esse objeto Shipping antes entao...

[code]

[2020-10-29 19:04] #61 closed, assigned to dilowagner

[2020-10-29 19:34] diegodario88 opened #63 "Ajuda com notificações"
@dilowagner  Por gentileza, gostaria de pedir um auxílio a você, estou inscrito nas notificações de orders e baseado nelas faço atualização da minha base de dados. Porem chegam 5 notificações para cada compra, todas elas com o mesmo ID e o status de paid. Como faço para que apenas uma baixa de estoque seja feita? Isso foge do escopo da lib e vai mais para a parte da documentação mas eu realmente n

[2020-10-30 23:22] dilowagner commented on #63
Opa e ai @diegodario88
Nao sei se entendi completamente, sua duvida, mas esta chegando repetido os eventos?

Eh estranho esse comportamento, mas sera que vc nao esta enviando mais de uma vez algo que dispare as notificacoes?

E se esse envio eh feito por eles mesmo...(nao fica do nosso lado), acredito que a unica forma eh vc criar uma especie de controle do seu lado para nao repetir o processament

[2020-10-30 23:43] diegodario88 commented on #63
É exatamente isso. Para 1 venda chegam 5 notificações com o mesmo id e o status de paid. Mas eu troquei a inscrição para payments lá no app e agora parece que vem apenas uma. Acredito que faz parte do fluxo do created_orders, não sei...hehe

[2020-10-31 13:25] diegodario88 commented on #63
Mudei a inscrição para payments porque eu só gostaria de controlar o estoque então só preciso da notificação da venda para atualizar a base. Blz, faço uma compra usando o usuário teste e um cartão de teste, chega uma notificação assim:
[code]

Eu pego aquele código no final do resource e passo para o `$service->findPayment($code);`

Deveria me retornar o pagamento, mas ele volta dizendo:

[code]
O

[2020-11-04 00:38] dilowagner commented on #63
Opa e ai @diegodario88
Cara, sinceramente nunca avancei nesse nivel de implementacao no ML hehe. Ao primeiro momento parece estranho voce ter que capturar o final do `resource` ali. Vc recebe apenas essa estrutura de JSON?
Terias o link do trecho da DOC do ML, pode ser que seja outro metodo que ainda nao estava mapeado na Lib. (so acho estranho no local funcionar hehe)

[2020-11-04 22:27] diegodario88 commented on #63
Sim, recebo apenas aquele json. Eu consegui buscar a notificação usando o findPaymentsOfSeller.

Então acabei de descobrir que na verdade era por causa do token. Api poderia me retornar informando que o token estava inválido ou alguma coisa nesse sentido né. 😒

Obrigado pelo retorno

[2020-11-06 02:17] dilowagner commented on #63
Opa, blzzz hehe
Mas quando vc fala API, eh o backend mesmo correto? Ou algo na Lib que nao esta passando a informacao corretamente pra frente (alguma Exception por exemplo)?

[2020-11-06 14:24] diegodario88 commented on #63
Não, é o backend mesmo isso ocorre usando o postman ou insomnia .

[2020-11-13 20:31] christopherpersaud opened #64 "Erro ["item.official_store_id","item.seller_id"]"
Na hora de enviar o anuncio da o erro: ["item.official_store_id","item.seller_id"]
mas os itens nao tem marca mesmo nao, e o cadastro do mercado livre nao tem loja oficial vinculada nem marca vinculada, como resolver esse erro? sabem me dizer?

Código de envio:
$item = new Item();
      		$item->setTitle('Velas de enfeite')
      			->setCategoryId('MLB31547')
      			->setPrice(100)
      			->s

[2020-11-14 20:28] dilowagner commented on #64
Cara, parece ser algo com a sua conta mesmo @christopherpersaud eh uma conta de teste?
E parece ser algo configurado pelo proprio Mercado Livre

https://developers.mercadolivre.com.br/pt_br/lojas-oficiais#Erros
"entre em contato com um consultor comercial"

[2020-11-14 20:30] #63 closed, assigned to dilowagner

[2020-11-14 20:30] #62 closed, assigned to dilowagner

[2020-11-15 13:04] christopherpersaud commented on #64
Não é conta de teste é de uma concessionaria, mas nao tem nenhuma marca ou loja oficial vinculada a ela, como se houvesse algum tipo de dado incompleto na conta, mas to vendo isso junto ao cliente.
Achava que poderia ser alguma coisa com o codigo, mas é na conta mesmo, obrigado mais uma vez

[2020-11-30 17:00] rabraga opened #65 "SDKs deprecados, evite ficar bloqueado!"
Boas!
Recebi um e-mail do openplatform@mercadolivre.com com o seguinte conteúdo abaixo. O que isso quer dizer? O mercado livre vai bloquear esta biblioteca dsc-mercado-livre?
--
A partir de 31 de dezembro as integrações que usarem SDKs antigos serão bloqueadas ao fazerem chamadas aos recursos do Mercado Livre

Identificamos   que você segue usando um SDKs deprecado e logo ele será bloqueado.

[2020-12-02 00:56] dilowagner commented on #65
Eitaaaa, como assim??? Nao lembro de ter recebido esse e-mail!!! Mas aparentemente sim!
Consegues fazer um teste rapido pra gente?

Alterar o Header
https://github.com/discovery-tecnologia/dsc-mercado-livre/blob/bc6a90401d4f09f937233130f24ba679a424d751/src/Client.php#L25
MELI-PHP-SDK-1.1.0

Para:
https://github.com/mercadolibre/php-sdk/blob/958cb910810efee6299f27b233881f26b3f9b667/lib/Configuratio

[2020-12-02 01:08] #64 closed, assigned to dilowagner

[2020-12-02 08:13] rabraga commented on #65
@dilowagner ,
Eu baixei este projeto semana passada, e comecei a testar. Nesta segunda 30/11 recebi este e-mail. Será que eles irão aceitar somente as SDK indicadas no link: https://developers.mercadolivre.com.br/pt_br/ferramentas ???

Fiz um teste usando MELI-PHP-SDK-3.0.0, e consegui gerar o Token e criar um anuncio de teste. Acredito que seja esta alteração mesmo de User-Agent que deve estar se

[2020-12-02 16:31] dilowagner commented on #65
Valeu @rabraga obrigado!
Vc conseguiria testar com MELI-DSC-SDK e verificar se existe algum bloqueio? Acredito que seria até o mais certo talvez, pra não ficar mascarando o uso da Lib deles, seilá.

Bom e esperamos que sim, vou ver pra atualizar isso o quanto antes....

Legal que vc queira contribuir, minha ideia é evoluir para os recursos atuais do PHP 7+ (ou 8 agora talvez hehe).

E se vc achar

[2020-12-02 16:54] rabraga commented on #65
@dilowagner ,
Criei o PR, já testei com MELI-DSC-SDK e deu certo. Certamente estavam identificando que a MELI-PHP-SDK-1.1.0 está desatualizada. Acredito que não irá bloquear a MELI-DSC-SDK.

Eu estou utilizando o PHP 7.4. Até agora gerei o token e criei um anuncio de teste, com o AnnouncementTest.php, apenas retirando o ->setWarranty('12 months').

[2020-12-04 02:19] dilowagner commented on #65
Valeu @rabraga
Obrigado pela ajuda...
Vou gerar uma versão

[2020-12-04 02:32] dilowagner commented on #65
[Versão 2.0.1-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.0.1-rc)

[2020-12-04 21:29] #65 closed, assigned to dilowagner

[2021-01-12 13:24] rabraga opened #67 "A partir de 1º de abril será obrigatório o envio do access token no header das chamadas a nossa API"
Bom dia!
Recebi este e-mail:
--
Atualize   todas as suas chamadas com access token no header, por exemplo:

curl   -X GET -H 'Authorization: Bearer $ACCESS_TOKEN'   https://api.mercadolibre.com/items/$ITEM_ID

Caso não o envie, receberá um erro.
--

[2021-01-12 13:41] diegodario88 commented on #67
![mlAlert](https://user-images.githubusercontent.com/25825145/104321105-f160b400-54c1-11eb-9b81-17052bf81bff.jpeg)

É eu também recebi, no caso acredito que teria que atualizar o default headers.

![Captura de tela de 2021-01-12 10-38-54](https://user-images.githubusercontent.com/25825145/104321503-78159100-54c2-11eb-99ec-3c0398e37187.png)

[2021-01-12 13:45] rabraga commented on #67
Acho que é isso mesmo, porém não consigo fazer alterações e testes nesta semana. Só na próxima.

[2021-01-12 17:58] dilowagner commented on #67
Opa, valeu pelo report pessoal!
Vou verificar pra atualizar o quanto antes

[2021-01-14 02:17] #67 closed, assigned to nobody

[2021-01-14 02:22] dilowagner commented on #67
So espero que isso nao seja mentira kkkkkkkkkkkkkkkkkk (1 de abril!)

Brinks...
Publiquei uma nova versao com o ajuste pessoal
[Versao 2.0.3-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.0.3-rc)

[2021-03-06 23:00] e-lyder opened #70 "Atualização do Category-Predictor"
Olá, me chamo Amaral.
Gostaria de contribuir para o código... uma atualização para o [Predictor](https://developers.mercadolivre.com.br/pt_br/categorias-e-publicacoes) que da forma que está já não funciona mais.

[code]
A forma de funcionar, no entanto, é...
[code]
E opcionalmente pode-se limitar a resposta entre 1 e 8 (por default a resposta máxima será 8, se não usar o "limit").
Já testei e esto

[2021-03-07 23:25] dilowagner commented on #70
Opa, legal @e-lyder
Consegues abrir um pull request pra gente com a modificacao?

Obrigado pela contribuicao!!!

[2021-03-10 01:28] e-lyder commented on #70
Boa noite @dilowagner!
Sou novato nessa de contribuir com pacotes...
A função está na classe  ```Dsc\MercadoLivre\Requests\Category\CategoryService.php```.
Fiz um ``Fork`` do pacote mas ainda não tenho certeza de como fazer um Pull Request.

PS: na aplicação que estou trabalhando deixei o ``client_id``, o ``client_secret``, o ``redirect_url`` e ``site_id`` como parâmetros opcionais na classe e os

[2021-03-11 02:31] e-lyder commented on #70
A função ``findCategoryPredictor`` estava retornando os arrays, porém vazios.

![1615428469702](https://user-images.githubusercontent.com/46200370/110725228-fefe9580-81f5-11eb-876a-5ff4e16b7a69.png)
Inspecionando, vi que o retorno ``Json`` do ML também havia mudado. Então criei a classe ``Predictor`` que agora está retornando o array corretamente... e aproveitei a classe ``AttributeCombination`` p

[2021-03-11 15:00] dilowagner commented on #70
Opa, valeu @e-lyder
Vou verificar pra ajustar isso...

[2021-03-14 20:41] #70 closed, assigned to dilowagner

[2021-03-14 20:46] dilowagner commented on #70
Valeu mais uma vez pela ajuda @e-lyder
Gerada nova [versao 2.0.4-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.0.4-rc)

[2021-03-20 11:44] rafa-acioly opened #72 "AccessToken abstrato"
Estou desenvolvendo uma integração e me deparei com um acoplamento de `Storage` e `AccessToken`, no sistema que estou desenvolvendo eu preciso separar o `token` dos usuários pois o sistema fara a integração de diversos usuários simultaneamente, porem a lib permite apenas o armazenamento de uma unica chave de token não permitindo que eu define qual a chave sera utilizada para armazenar.

https://gi

[2021-03-21 12:41] rafa-acioly commented on #72
Eu resolvi a situação criando alguns `Adapters` para as classes `AuthorizationService`, `Production` e `StorageInterface`, funciona mas acredito que deveria ser mais simples mudar a estrategia de salvar os dados de tokens 👀

[2021-03-21 14:38] dilowagner commented on #72
Otima observacao @rafa-acioly
Sim... realmente temos um problema ae!

Se vc quiser abrir uma PR pra gente analisar...
Valeu pela ajuda!

[2021-03-21 16:25] dilowagner commented on #72
Cara, eh um problemao hehe

Fiz uma analise aqui, acredito que conseguimos dois caminhos
Primeiro: partir talvez para a criacao de um `CustomEnvironment` (nao sei ainda hehe) - acho que segue muito a linha que vc esta pensando mesmo, que eu acho legal tambem.

Segundo: talvez um pouco mais simples... seria, usar um terceiro parametro na class `Meli`
Pensei ate em usar o `clientId` pra isso, mas sa

[2021-03-21 17:34] dilowagner commented on #72
Pensando bem....
Acho que vou usar a classe `Environment` pra isso hehe

[code]

[2021-03-22 01:27] rafa-acioly commented on #72
Acredito que essa opção de inserir o `MINHA_LOJA_ID` em `Environment` seja a melhor, ao que parece as alterações seriam menores

[2021-03-23 22:06] rafa-acioly opened #73 "Access token no cabeçalho da requisição"
A partir do dia 01-04 as requisições precisaram conter o token no header:

[2021-03-23 22:41] rafa-acioly commented on #73
Abri um `PR` para tentar implementar essa alteração mas acredito que não seja isso ainda, porque eu precisaria verificar se o token ainda é valido antes de fazer a request 🤔

https://github.com/discovery-tecnologia/dsc-mercado-livre/pull/74

[2021-03-24 02:09] dilowagner commented on #73
Fala @rafa-acioly blz?
Esse ajuste ja foi implementado, a galera ja tinha reportado esse problema em outra [Issue #67](https://github.com/discovery-tecnologia/dsc-mercado-livre/issues/67)

https://github.com/discovery-tecnologia/dsc-mercado-livre/blob/2320cdacee6a67b5e64a275280193c0d62df3406/src/Handler/OAuth2ClientHandler.php#L88

[2021-03-24 03:18] dilowagner commented on #72
Cara, mudei de ideia novamente hehe
Acredito que nao teriamos problema setando o client-id como chave, ate porque esses dados ficam no server e criptografados.

Entao, nao muda nada na implementacao... usando a nova [versao 2.1.0-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.1.0-rc) esse suporte ja deve funcionar com as multi-contas.

[2021-03-24 12:22] #73 closed, assigned to dilowagner

[2021-03-24 12:24] rafa-acioly commented on #72
@dilowagner mas o `client-id` é fixo certo? não teriamos como identificar qual é o `tenant` que esta fazendo a requisição para o mercado livre...
não entendi bem a sugestão que você diz para setar o client-id como chave, o unico valor passado para `storage` é a palavra `token`, dessa maneira não conseguimos separar diversos tokens de diversos clientes.

[2021-03-25 00:18] dilowagner commented on #72
Opa @rafa-acioly entao....
Acredito que nao, correto?
O `client-id` vai mudar com cada cliente que conectar na sua plataforma/app.

Eu tenho um caso de uso parecido em um sistema que trabalhava... onde o cliente precisava configurar seus dados de acesso ao mercado livre (`client-id` e `client-secret`)
Voce nao usa o `client-id` diferente pra cada cliente? como vc separaria as contas? todo mundo pu

[2021-03-25 00:20] dilowagner commented on #72
Ha e nao comentei....
Exatamente, o que mudei foi para que a chave do `storage` considerasse o client-id tambem:
[code]

[2021-03-25 10:37] rafa-acioly commented on #72
implementado em https://github.com/discovery-tecnologia/dsc-mercado-livre/commit/d175b7bc6342891e15ab9894c20df1652edf446b

[2021-03-25 10:37] #72 closed, assigned to dilowagner

[2021-03-26 20:42] fcristinadebora opened #76 "RefreshToken para authorization codes já autenticados"
Olá!

Estou desenvolvendo integração com o ML e estou obtendo o erro abaixo ao tentar autenticar um vendedor, após ele já ter sido autenticado na minha máquina ou na de qualquer dev:
[code]

O erro ocorre justamente pelo fato do token já ter sido utilizado, pois se eu atualizar o token, conforme a documentação: https://developers.mercadolivre.com.br/pt_br/autenticacao-e-autorizacao#Refresh-token
O

[2021-03-27 15:05] dilowagner commented on #76
Ola @fcristinadebora obrigado por reportar...
Entao, a lib ja deveria fazer isso...

Na classe `OAuth2ClientHandler` - ela verifica se o token ja esta expirado
https://github.com/discovery-tecnologia/dsc-mercado-livre/blob/d175b7bc6342891e15ab9894c20df1652edf446b/src/Handler/OAuth2ClientHandler.php#L73

E da um refresh
https://github.com/discovery-tecnologia/dsc-mercado-livre/blob/d175b7bc6342891e

[2021-03-27 15:49] fcristinadebora commented on #76
Bom dia! Obrigada pelo retorno rápido.

Sim, a ideia é que minha aplicação com N usuários, cada qual com sua conta no ML, autorizem a minha APP-ID.

O meu problema seria, na verdade, relacionado à tentativa de "reautenticação" antes do token expirar, porém hoje fui testar a autenticação com um token já expirado (teoricamente após 6h o token deve expirar) e obtive o mesmo problema. Segue exception

[2021-03-27 23:40] dilowagner commented on #76
@fcristinadebora
Quando vc diz: "**cada qual com sua conta no ML**"

Cada "cliente" vai ter sua propria `APP-ID` e `SECRET-ID`? ou nao?

Ou sao usuarios dentro da sua propria Aplicacao? Todos usuariam a mesma `APP-ID` e `SECRET-ID` - referente a sua Aplicacao. Se for, preciso analisar esse cenario.

Eu tenho um cenario onde eu uso a lib e cada cliente tem a sua Aplicacao no Mercado Livre... ou sej

[2021-03-28 00:55] dilowagner commented on #76
@fcristinadebora
Vc consegue fazer um teste pra gente com a versao `dev-master`?
Eu adicionei a opcao de setar o user_id na classe `Meli`, ficaria assim:

[code]

[2021-03-29 14:29] fcristinadebora commented on #76
@dilowagner

Testei com a alteração que vc sugeriu na `dev-master` porém o problema persiste ao tentar chamar o método `authorize`. Ao chamar o método `AuthorizationService->getAccessToken()` setando qualquer `userId` (obtido a partir da consulta à lista de grants da minha aplicação, porém pode inclusive ser um userID inválido) sempre é retornado o `acess token` referente à conta proprietária da a

[2021-03-30 00:29] dilowagner commented on #76
@fcristinadebora
Hum, entao nao parece ser, o que pensei que seria hehe

Vc ja deu uma olhada nesses erros?
https://developers.mercadolivre.com.br/pt_br/autenticacao-e-autorizacao?nocache=true#Erro-invalid-grant

Sinceramente, nunca peguei um cenario desses, vou ter que analisar melhor.
O mais estranho e que na minha cabeca nao deveria estar bugando, por ser a mesma `APP-ID`

[2021-03-30 11:42] fcristinadebora commented on #76
@dilowagner
Acabei descobrindo um workaround para isso. Quando eu já autentiquei um usuário porém não salvei seu `access token` eu não consigo mais acessar os métodos `authorization_code`autenticação nem `refresh_token`. Porém, descobri que se enviar o parâmetro state, o ML gera um novo `authorization code` que consigo utilizar para autenticar. Assim, caso obter `invalid_grant` ao tentar autentica

[2021-03-31 01:25] dilowagner commented on #76
Eita,
Valeu @fcristinadebora

[2021-03-31 01:26] #76 closed, assigned to dilowagner

[2021-03-31 01:34] dilowagner commented on #76
Merged Versao [2.2.0-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.2.0-rc)

[2021-04-07 21:20] frankdors opened #79 "InvalidArgumentException: Magic request methods require a URI and optional options array"
Estava usando no composer como "2.*", ao atualizar composer update começou a apresentar este erro:
`InvalidArgumentException: Magic request methods require a URI and optional options array`

Lib atualizou da **2.0.3-rc** para a **2.2.0-rc**

Configurei meu composer para utilizar a versão:

-  **2.0.3-rc** = OK ✅
-  **2.0.4-rc** = OK ✅
-  **2.1.0-rc** = Falha❌
-  **2.2.0-rc** = Falha ❌

Pelo que en

[2021-04-09 01:46] dilowagner commented on #79
@frankdors
Obrigado por reportar!
Qual a versao do PHP vc esta usando?

[2021-04-09 01:55] dilowagner commented on #79
Poutz, encontrei o problema @frankdors
Foi caca minha mesmo hehe... vou gerar uma versao com a correcao.

Os testes nao pegaram :-1:

Valeu

[2021-04-09 02:00] #79 closed, assigned to dilowagner

[2021-04-09 02:04] dilowagner commented on #79
@frankdors
[Versao 2.2.1-rc](https://github.com/discovery-tecnologia/dsc-mercado-livre/releases/tag/2.2.1-rc)

Valeu mais uma vez :+1:

[2021-06-21 16:53] Rodrigomsdevs opened #82 "Atributos"
Diego, nos falamos pelo linkedin.

meu problema é que estou tentando publicar um produto sem atributo.
Eu vi sobre isso no site do ml, mas nao consegui entender, se puder me ajudar agradeço.

{
"department":"items",
"cause_id":147,
"type":"error",
"code":"item.attributes.missing_required",
"references":[
"item.attributes",
"item.variations.attribute_combinations"
],
"message":"The attributes [BRAN

[2021-06-21 22:08] dilowagner commented on #82
Opa e ae @Rodrigomsdevs blz?
Cara, entao... isso é uma validacao do proprio Mercado Livre, algumas categorias é obrigatorio informar os atributos!
Nesse exemplo, essa categoria é obrigatorio informar os atributos: **Marca**, **Modelo** e **Cor**.

https://api.mercadolibre.com/categories/MLB73057/attributes

Se vc perceber, tem o atributo `tags` e o campo `required = true` no JSON

Nao sei se vc es

[2021-07-01 21:40] dilowagner commented on #82
Ola @Rodrigomsdevs
deu certo? Conseguiu resolver?

[2021-07-08 20:14] EmersonHenriique opened #83 "Buscando Orders"
Ola meus amigos, estou tentando listar as orders pela função "findOrdersBySeller" porem ela me retorna em var_dump() totalmente ilegivel, como seria possivel tratar o resultado para um formato json?
`object(Dsc\MercadoLivre\Resources\Order\OrdersList)#105 (4) { ["query":"Dsc\MercadoLivre\Resources\Order\OrdersList":private]=> string(0) "" ["display":"Dsc\MercadoLivre\Resources\Order\OrdersList":pr

[2021-07-20 00:36] dilowagner commented on #83
E ae @EmersonHenriique
Foi mau a demora na resposta, mas to na correria hehe...

Ele retorna uma Collection... para transformar em um JSON vc poderia usar

[code]

Ou apenas os resultados...

[code]

[2021-07-20 00:37] #82 closed, assigned to dilowagner

[2021-07-27 01:24] #83 closed, assigned to dilowagner

[2021-09-19 22:47] caiolima86 opened #84 "Como Listar Anúncios Conta ML"
Primeiramente quero agradecer pela biblioteca, está sendo de grande ajuda a comunidade =)

Como faço para listar os anúncios ativos ou inativos de uma conta ml?

Pelo que vi na api, isso é feito pela url: https://api.mercadolibre.com/sites/$SITE_ID/search?seller_id=$SELLER_ID
Porém não encontrei nada referente a essa url na biblioteca.

Obrigado

[2021-09-20 03:58] caiolima86 commented on #84
Desculpe a ignorância no post anterior...rs... da para fazer a culsulta com Curl.

O problema é que o token que eu consigo gerar é o:

$meli = new Meli(MLAPPID, MLSECRETKEY);
$service = new AuthorizationService($meli);
$token = $service->getAccessToken();

Esse token é para uso do meu app... eu achei que depois de uma conta de um user do ml sendo autorizada, eu conseguiria manipular a conta dele u

[2021-09-20 04:34] caiolima86 commented on #84
Corrigindo a url correta que quero acessar a lista de anúncios ativos é: https://api.mercadolibre.com/users/$idContaMl/items/search

[2021-09-20 18:35] caiolima86 commented on #84
Analizando as perguntas feitas por outros usuários, notei que você pede para o nosso cliente crie um app no mercado livre para ter o seu app id e secret code, porém acho essa forma inviável, tendo em vista que os outros apps do ml como o bling, mercado busca entre outros... não precisem que o cliente crie um app novo, precisa apenas autorizar o uso do app deles e pronto.

Agradeço a atenção de vcs

[2021-09-21 02:35] dilowagner commented on #84
Fala @caiolima86 blz? Obrigado e desculpa a demora... (correria) hehe
Essa tratativa apontada nessa Issue #76 nao te ajuda?

[2021-09-21 03:29] caiolima86 commented on #84
Opa, blz... obrigado pelo retorno...

Entao... eu não sei como pegar o refresh token para usar ele na:
$service->authorizeClient('code', 'url_login');

não encontrei nenhum metodo que retorne ele... so consigo pegar ele no momento que o meu cliente autoriza o meu app no ml

tentei fazer isso para logar com o id do meu cliente ja autorizado:

$meli = new Meli(MLAPPID, MLSECRETKEY);
$meli->setUserId

[2021-09-21 03:51] caiolima86 commented on #76
Poxa, estou tendo o mesmo problema, você consegue colocar como ficou o seu codigo?
Como vc esta fazendo para pegar o RefreshToken?, vc esta usando ele no autorize?

[2021-09-21 10:13] fcristinadebora commented on #76
Olá @caiolima86 :)

Infelizmente não tenho mais acesso aos fontes do programa, porém a solução é simples.

O `RefreshToken` é usado para solicitar um novo `authorization_code`, através do método próprio para isso. Da forma como fiz, não preciso armazenar o `RefreshToken`, visto que todas as vezes obtenho um novo `authorization code`.
Isso é possível graças a passagem de parâmetro no método `getOAu

[2021-09-21 15:19] caiolima86 commented on #84
Acabei conseguindo fazer o que queria com outra a lib: gpupo/mercadolivre-sdk
Ela me dará mais trabalho...rs... mas consigo alternar facilmente entre as contas autorizadas.

Mesmo assim, obrigado e parabéns pelo projeto, tenho ctz que esta ajudando muito a comunidade =)

[2021-09-21 15:19] #84 closed, assigned to dilowagner

[2021-09-25 23:59] dilowagner commented on #84
Opa, mau a demora mais uma vez!
@caiolima86 show man, que bom que conseguiu resolver seu problema hahaha.
Se conseguir exemplificar um pouco da utilizacao com a outra lib aqui, seria legal... Talvez outros tenham o mesmo problema ou alguem consiga enxergar alguma melhoria nessa lib.

Valeu abraco!

[2022-02-24 00:43] rafa-acioly opened #85 "syntax error, unexpected token \"readonly\""
Criei uma nova aplicação e ao tentar criar um novo anuncio com dados fakes para teste recebo o seguinte erro:

[code]

Ferramentas utilizadas:
Laravel: "^9.0"
PHP: 8.1.2

[2022-02-25 02:38] dilowagner commented on #85
opa @rafa-acioly
A hora que tiver um tempo, vou verificar, mas provavelmente porque atualizou a versao do PHP e da dependencia

[2022-03-01 18:44] dilowagner commented on #85
Ola @rafa-acioly
Obrigado pelo report, porem temos um problema grande aqui...

Confere nessa Issue
https://github.com/schmittjoh/serializer/issues/1331

Isso envolveria atualizar a jms/serializer para a versao 3 - o que precisa ser avaliado e teria um trabalho um pouco grande aqui.
O que eu posso dizer, eh que nao temos suporte para o PHP 8+ por enquanto :(

[2022-03-16 22:38] dfikeda commented on #85
Eu consegui resolver essa situação, eu retirei as libs das pastas originais e copiei para o meu sistema, alterando o que precisava para fazer o sistema funcionar.
Na real eu não sei muito bem se está certo ou não, porém no momento está funcional.
Basicamente hard coding.
"require": {
        "php": "^8.0",
        "doctrine/annotations": "^1.13",
        "doctrine/cache": "^2.1",
        "doctrine

[2022-03-21 02:47] dilowagner commented on #85
Opa, boa!
Pode ser um caminho @dfikeda
Consegue atualizar as dependencias do composer na sua maquina local e rodar os testes do PHP Unit pra ver se esta tudo certo?

[2022-03-21 02:48] dilowagner commented on #85
Mais complementando, o problema aqui eh que eu acho perderiamos a compatibilidade com versoes anteriores do PHP (5, 7)